
/* --------------------------------------------------------------------- */
/* 6. SCROLL DOWN BUTTON
/* --------------------------------------------------------------------- */

.scroll-down-container {
    display: none;
}



/* --------------------------------------------------------------------- */
/* 8. PORTFOLIO
/* --------------------------------------------------------------------- */

#portfolio-grid .layer {
    background: #70a8da;
}



/* --------------------------------------------------------------------- */
/* 9. TEAM
/* --------------------------------------------------------------------- */

.team .team-member .layer {
    background: #70a8da;
}