
@media screen and (max-width: 1160px) {

    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #main-navigation a {
        font-size: 1.2em;
        padding: 15px 0;
    }

}




@media screen and (max-width: 980px) {

    /* --------------------------------------------------------------------- */
    /* 1. DOCUMENT SETUP
    /* --------------------------------------------------------------------- */

    body {
        font-size: 95%;
    }


    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #navigation-container {
        width: 70%;
    }


    /* --------------------------------------------------------------------- */
    /* 8. PORTFOLIO
    /* --------------------------------------------------------------------- */

    #portfolio-grid li {
        width: 50%;
    }

    #portfolio-grid li.double {
        width: 100%;
    }

    #portfolio-controls {
        top: auto;
        bottom: 0;
        left: 0;
        margin-top: 0;
    }

    #portfolio-controls a {
        float: left;
    }


    /* --------------------------------------------------------------------- */
    /* 9. TEAM
    /* --------------------------------------------------------------------- */

    .team .team-member {
        width: 50%;
    }

    .team .team-member .layer h3 {
        font-size: 1.2em;
    }


    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-grid h3 {
        font-size: 1.2em;
    }

    #blog-controls {
        top: auto;
        bottom: 0;
        left: 0;
        margin-top: 0;
    }

    #blog-controls a {
        float: left;
    }


    /* --------------------------------------------------------------------- */
    /* 12. COUNTER (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .counter li {
        width: 33.33333%;
        padding: 40px 0;
    }

}




@media ( max-width : 849px ) {

    /* --------------------------------------------------------------------- */
    /* 4. PAGE HEADER
    /* --------------------------------------------------------------------- */

    #logo {
        left: 20px;
    }

    #open-navi {
        padding: 0 20px;
    }


    /* --------------------------------------------------------------------- */
    /* 7. SECTION HEADLINE
    /* --------------------------------------------------------------------- */

    .section-headline .scroll-down-container {
        left: 18px;
    }


    /* --------------------------------------------------------------------- */
    /* 8. TABS (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .tab-navi {
        padding-right: 0;
    }

    .tab-navi a.active {
        width: auto;
    }

    .tab-navi.horizontal li {
        display: block;
    }

    .tab-navi.horizontal a.active {
        border-top: 3px solid #70a8da;
        border-left: none;
        width: auto;
        padding: 15px 30px;
        margin-bottom: 4px;
    }

}




@media screen and (max-width: 580px) {

    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #navigation-container {
        width: 80%;
    }


    /* --------------------------------------------------------------------- */
    /* 8. PORTFOLIO
    /* --------------------------------------------------------------------- */

    #portfolio-grid li {
        width: 100%;
    }

    #portfolio-grid li.double {
        width: 100%;
    }



    /* --------------------------------------------------------------------- */
    /* 9. TEAM
    /* --------------------------------------------------------------------- */

    .team .team-member {
        width: 100%;
    }


    /* --------------------------------------------------------------------- */
    /* 10. CONTACT
    /* --------------------------------------------------------------------- */

    .contact-row .icon-container, .contact-row .info {
        float: none;
    }

    .contact-row .info {
        padding: 5px 0 10px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 11. FOOTER
    /* --------------------------------------------------------------------- */

    .footer-content .text {
        display: block;
        padding-bottom: 10px;
    }


    /* --------------------------------------------------------------------- */
    /* 1. TYPOGRAPHY (SHORTCODES)
    /* --------------------------------------------------------------------- */

    h1 {
        font-size: 2.5em;
        margin-bottom: 30px;
    }


    /* --------------------------------------------------------------------- */
    /* 12. COUNTER (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .counter li {
        width: 100%;
        padding: 25px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 14. TIMELINE (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .timeline-grid {
        padding: 0 30px;
    }

    .timeline-grid li {
        width: 210px;
    }

    .timeline-grid li.date {
        width: 50px;
    }

    .timeline-grid li.date .year {
        left: -25px;
    }

}




@media screen and (max-height: 680px) {

    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */

    section {
        position: relative;
        padding: 50px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 7. SECTION HEADLINE
    /* --------------------------------------------------------------------- */

    .section-headline .row {
        padding-top: 100px;
    }

}



@media screen and (max-height: 480px) {

    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #main-navigation {
        top: 40px;
    }

    #main-navigation a {
        font-size: 1em;
        padding: 12px 0;
    }

    #navigation-container .bottom-container {
        bottom: 20px;
    }

    #navigation-container .bottom-text {
        display: none;
    }

    #navigation-container .social-links {
        margin-bottom: 0;
    }


    /* --------------------------------------------------------------------- */
    /* 7. SECTION HEADLINE
    /* --------------------------------------------------------------------- */

    .section-headline .row {
        padding-top: 60px;
        padding-bottom: 150px;
    }

}



@media screen and (max-height: 380px) {

    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #navigation-container .bottom-container {
        display: none;
    }

}